<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdk.projectinterface.mapper.CourseMapper">

    <resultMap id="UnionTableQuery" type="com.jdk.projectinterface.bean.Course">
        <id property="courseId" column="course_id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="courseAvatar" column="course_avatar"/>
        <result property="courseIntroduce" column="course_introduce"/>
        <result property="courseCode" column="course_code"/>
        <result property="courseName" column="course_name"/>
        <association property="teacher" javaType="com.jdk.projectinterface.bean.Teacher" resultMap="teacherMap"/>
    </resultMap>

    <resultMap id="teacherMap" type="com.jdk.projectinterface.bean.Teacher">
        <id property="teacherId" column="teacher_id"/>
        <result property="adminId" column="admin_id"/>
        <result property="teacherAccount" column="teacher_account"/>
        <result property="teacherPassword" column="teacher_password"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="teacherSex" column="teacher_sex"/>
        <result property="teacherPhone" column="teacher_phone"/>
        <result property="teacherEmail" column="teacher_email"/>
        <result property="teacherAvatar" column="teacher_avatar"/>
    </resultMap>

    <select id="findTeacherAllCourse" resultMap="UnionTableQuery">
        SELECT *
        FROM course,teacher
        WHERE course.teacher_id = teacher.teacher_id
        and course.teacher_id='${teacherId}'
    </select>
    <select id="findCourseByCode" resultMap="UnionTableQuery">
        SELECT *
        FROM course,teacher
        WHERE course.teacher_id = teacher.teacher_id
        and course.course_code='${code}'
    </select>
    <select id="findAllCourse" resultMap="UnionTableQuery">
        SELECT *
        FROM course,teacher
        WHERE course.teacher_id = teacher.teacher_id
    </select>
    <select id="findTeacherAllCourseWithName" resultMap="UnionTableQuery">
        SELECT *
        FROM course,teacher
        WHERE course.teacher_id = teacher.teacher_id
        and course.teacher_id='${teacherId}'
        and course_name like '%${name}%'
    </select>
</mapper>